In [2]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [34]:
docs = (["people watch cricket", "cricket watch cricket", "people give comments", "cricket give Comments"])

In [35]:
vec = CountVectorizer(token_pattern=r"(?u)\b\w+\b")

In [36]:
vec.fit_transform(docs)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 11 stored elements and shape (4, 5)>

In [37]:
x = vec.fit_transform(docs)

In [38]:
x.toarray()

array([[0, 1, 0, 1, 1],
       [0, 2, 0, 0, 1],
       [1, 0, 1, 1, 0],
       [1, 1, 1, 0, 0]])

In [39]:
vec.get_feature_names_out()

array(['comments', 'cricket', 'give', 'people', 'watch'], dtype=object)

In [40]:
features = vec.get_feature_names_out()

In [41]:
pd.DataFrame(x.toarray(), columns=features)

   comments  cricket  give  people  watch
0         0        1     0       1      1
1         0        2     0       0      1
2         1        0     1       1      0
3         1        1     1       0      0